/*-- scss:defaults --*/

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// (note // is a comment) 

// Colors
// https://htmlcolorcodes.com/
$dark-green: #45547F; // could try #487c56 instead  or #047C90 or #45547F
$light-green: white; 
$light-blue: #8F7B97;

// https://imagecolorpicker.com/color-code/92a687 sage green complements

// Base document colors
$navbar-bg: $dark-green;
$navbar-fg: $light-green;
$body-bg: $light-green;
$footer-bg: $dark-green;
$link-color: $light-blue;

/*-- scss:rules --*/
h1, h2, {
 #letter-spacing: 5px;
 color:$dark-green;
}

.title {
  color: $dark-green;
}

.center-text {
  text-align: center;
}